In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
len(keyword.kwlist)

35

In [3]:
True and False

False

In [5]:
True and True

True

In [6]:
True or False

True

In [7]:
True + True

2

In [8]:
False + False

0

In [9]:
True - False

1

In [10]:
False - True

-1

# Data Types and Structures

- Numbers
- String
- Tuples
- List
- Dictionary
- Set

In [12]:
a = 20 
print(a)

20

In [13]:
type(a)

int

In [14]:
b = 45.6
print(b)

45.6

In [15]:
type(b)

float

In [16]:
c = 3+2j
print(c)

(3+2j)

In [17]:
type(c)

complex

In [19]:
c.dtype()

AttributeError: 'complex' object has no attribute 'dtype'

## String

In [23]:
str_1 = ("Python is a ")
str_2 = ("very powerful ")
str_3 = ("Language")

d = (str_1+str_2+str_3)

print(d)

Python is a very powerful Language

In [24]:
type(d)

str

In [27]:
dtype(d)

NameError: name 'dtype' is not defined

Adding Strings with comma

In [28]:
print("I've to ", "learn ", "a lot")

I've to  learn  a lot

Other operations on Strings

In [30]:
print("Day "*5)

Day Day Day Day Day

In [31]:
print("Day" + str(2))

Day2

We can convert numbers into string datatype but not viceversa

## List

In [33]:
# Creating empty list
l = []
l

[]

In [34]:
type(l)

list

In [35]:
l = ['a', 'b', 'c']
l

['a', 'b', 'c']

In [36]:
l = [3, 4.5, "Aniket"]

In [37]:
l

[3, 4.5, 'Aniket']

In [38]:
# Copying one list to other
l_1 = list(l)
l_1

[3, 4.5, 'Aniket']

In [39]:
list("Aniket")

['A', 'n', 'i', 'k', 'e', 't']

In [40]:
list(78787484)

TypeError: 'int' object is not iterable

## Append

In [41]:
emp = []
emp

[]

In [42]:
emp.append("Aniket")

In [43]:
emp

['Aniket']

In [45]:
emp.append("Shukla")
print(emp)

['Aniket', 'Shukla', 'Shukla']

In [46]:
emp.pop()

'Shukla'

In [47]:
emp

['Aniket', 'Shukla']

## Insert

In [48]:
emp.insert(1,"Kumar")
emp

['Aniket', 'Kumar', 'Shukla']

In [49]:
emp_sal = [2000,4000]
emp_sal

[2000, 4000]

In [50]:
emp_sal.insert(1,3000)

In [51]:
emp_sal

[2000, 3000, 4000]

In [52]:
len(emp_sal)

3

## Indexing and Slicing

In [53]:
emp

['Aniket', 'Kumar', 'Shukla']

In [54]:
emp[1]

'Kumar'

In [55]:
emp[0]= "Ankit"

In [56]:
emp

['Ankit', 'Kumar', 'Shukla']

In [57]:
emp[-2]

'Kumar'

In [58]:
emp[-1]

'Shukla'

In [59]:
emp_sal[1] = 10000

In [60]:
emp_sal

[2000, 10000, 4000]

In [67]:
emp_sal.extend([90000,45000,30000,2003,42000])

In [69]:
emp_sal.pop(3)

[90000, 45000, 30000, 2003, 42000]

In [70]:
emp_sal

[2000, 10000, 4000, 90000, 45000, 30000, 2003, 42000]

In [71]:
# Grabbing index 1 and everything past it
emp_sal[1:]

[10000, 4000, 90000, 45000, 30000, 2003, 42000]

In [72]:
# Grabbing everything upto index 2
emp_sal[0:3]

[2000, 10000, 4000]

In [73]:
emp_sal[1:3]

[10000, 4000]

### Concatenating List

In [74]:
emp_sal + [56000]    # added just like strings

[2000, 10000, 4000, 90000, 45000, 30000, 2003, 42000, 56000]

In [75]:
emp_sal              # 56000 was not added permanently

[2000, 10000, 4000, 90000, 45000, 30000, 2003, 42000]

In [76]:
# Adding permanently
emp_sal = emp_sal + [56000]
emp_sal

[2000, 10000, 4000, 90000, 45000, 30000, 2003, 42000, 56000]

In [77]:
# Making the list double(not permanently)
emp_sal * 2

[2000,
 10000,
 4000,
 90000,
 45000,
 30000,
 2003,
 42000,
 56000,
 2000,
 10000,
 4000,
 90000,
 45000,
 30000,
 2003,
 42000,
 56000]

In [78]:
emp_sal

[2000, 10000, 4000, 90000, 45000, 30000, 2003, 42000, 56000]

## Advanced Lists

In [80]:
marks = [23,3,45,65,67,43,23,34,43,43,23,12,89,43]
marks

[23, 3, 45, 65, 67, 43, 23, 34, 43, 43, 23, 12, 89, 43]

In [81]:
# Counting the number of times the item appears in the list
marks.count(43)

4

### Index

In [82]:
marks.index(89)

12

If there are duplicate items in a list, then index tells the index of the first duplicate item

In [83]:
marks.index(43)

5

In [84]:
emp

['Ankit', 'Kumar', 'Shukla']

In [85]:
emp.append(["Mansi", "Gurbuxani"])

In [86]:
emp

['Ankit', 'Kumar', 'Shukla', ['Mansi', 'Gurbuxani']]

In [87]:
len(emp)

4

### Extend

It adds the elements in the last seperately and iterates it.

In [89]:
emp.extend(["Himanshu", "Singh", "Chauhan"])

In [90]:
emp

['Ankit',
 'Kumar',
 'Shukla',
 ['Mansi', 'Gurbuxani'],
 'Himanshu',
 'Singh',
 'Chauhan']

In [91]:
len(emp)

7

### Pop

It eliminates the last element of the list

In [92]:
emp.pop()

'Chauhan'

In [93]:
emp

['Ankit', 'Kumar', 'Shukla', ['Mansi', 'Gurbuxani'], 'Himanshu', 'Singh']

In [94]:
emp.pop(1)

'Kumar'

In [95]:
emp

['Ankit', 'Shukla', ['Mansi', 'Gurbuxani'], 'Himanshu', 'Singh']

### Remove

It removes the first occurence of the value.

If there are 2 duplicates, we can remove using "Set".

In [96]:
roll_num = [100,101,102,103,104,103]
roll_num

[100, 101, 102, 103, 104, 103]

In [97]:
roll_num.remove(103)

In [98]:
roll_num

[100, 101, 102, 104, 103]

## Reverse

In [99]:
roll_num.reverse()

In [100]:
roll_num

[103, 104, 102, 101, 100]

## Sort

In [101]:
marks = [34,23,45,21,65,65,76,78,98,89]
marks

[34, 23, 45, 21, 65, 65, 76, 78, 98, 89]

In [102]:
marks.sort()

In [103]:
marks

[21, 23, 34, 45, 65, 65, 76, 78, 89, 98]

In [105]:
marks.sort(reverse=True)
marks

[98, 89, 78, 76, 65, 65, 45, 34, 23, 21]

## Tuple

In [106]:
work_loc = ("Mumbai", "Delhi", "Kanpur", "Noida", "Gurugram", "Lucknow")
work_loc

('Mumbai', 'Delhi', 'Kanpur', 'Noida', 'Gurugram', 'Lucknow')

In [107]:
type(work_loc)

tuple

In Tuple, we can use only two methods i.e., count and index

## Converting Tuple to List and then back to Tuple

In [108]:
work_loc

('Mumbai', 'Delhi', 'Kanpur', 'Noida', 'Gurugram', 'Lucknow')

In [116]:
# Converting from tuple to list
work_loc = list(work_loc)

In [117]:
work_loc

['Mumbai', 'Delhi', 'Kanpur', 'Noida', 'Gurugram', 'Lucknow']

In [118]:
type(work_loc)

list

In [119]:
work_loc.append("Pune")

In [120]:
work_loc

['Mumbai', 'Delhi', 'Kanpur', 'Noida', 'Gurugram', 'Lucknow', 'Pune']

In [121]:
work_loc[1] = "Shimla"

In [122]:
work_loc

['Mumbai', 'Shimla', 'Kanpur', 'Noida', 'Gurugram', 'Lucknow', 'Pune']

In [125]:
# Converting list to tuple
work_loc = tuple(work_loc)

In [126]:
work_loc

('Mumbai', 'Shimla', 'Kanpur', 'Noida', 'Gurugram', 'Lucknow', 'Pune')

In [127]:
type(work_loc)

tuple

In [128]:
work_loc[-1]

'Pune'

In [129]:
work_loc[-2]

'Lucknow'

In [130]:
numbers = (10,20,30,20,20,14,30)

In [131]:
numbers

(10, 20, 30, 20, 20, 14, 30)

In [132]:
numbers.count(20)

3

In [133]:
numbers.index(14)

5

# SETS

In [139]:
roll_num = set()
roll_num

set()

In [140]:
type(roll_num)

set

In [141]:
roll_num.add(1)

In [142]:
roll_num

{1}

In [143]:
roll_num.add(2)
roll_num

{1, 2}

In [144]:
# It does not add the repeating element
roll_num.add(1)

In [145]:
roll_num

{1, 2}

In [146]:
# Creating list of numbers
num = [1,2,3,1,2,5,6,3,6,7,4,3,2,1]
num

[1, 2, 3, 1, 2, 5, 6, 3, 6, 7, 4, 3, 2, 1]

In [147]:
num = set(num)
num

{1, 2, 3, 4, 5, 6, 7}

# Dictionary

In [155]:
my_dict = {"Name":["Aniket", "Mansi", "Ankit"], "Location":["Kanpur", "Noida", "Gurugram"]}
my_dict

{'Name': ['Aniket', 'Mansi', 'Ankit'],
 'Location': ['Kanpur', 'Noida', 'Gurugram']}

In [156]:
my_dict.keys()

dict_keys(['Name', 'Location'])

In [157]:
my_dict.values()

dict_values([['Aniket', 'Mansi', 'Ankit'], ['Kanpur', 'Noida', 'Gurugram']])

In [158]:
my_dict.items()

dict_items([('Name', ['Aniket', 'Mansi', 'Ankit']), ('Location', ['Kanpur', 'Noida', 'Gurugram'])])

In [159]:
my_dict["Name"]

['Aniket', 'Mansi', 'Ankit']

In [160]:
my_dict["Location"]

['Kanpur', 'Noida', 'Gurugram']

In [161]:
my_dict["Location"][1]

'Noida'

In [162]:
my_dict["Name"][0].isupper()

False

In [163]:
my_dict["Name"][0].upper()

'ANIKET'

In [164]:
my_dict

{'Name': ['Aniket', 'Mansi', 'Ankit'],
 'Location': ['Kanpur', 'Noida', 'Gurugram']}

In [165]:
my_dict["Year"] = [2009,2014,2017]

In [167]:
my_dict

{'Name': ['Aniket', 'Mansi', 'Ankit'],
 'Location': ['Kanpur', 'Noida', 'Gurugram'],
 'Year': [2009, 2014, 2017]}

In [171]:
my_dict["Location"][1] = my_dict["Location"][1][Delhi]

NameError: name 'Delhi' is not defined

In [172]:
my_dict["Location"][1] = "Delhi"

In [173]:
my_dict

{'Name': ['Aniket', 'Mansi', 'Ankit'],
 'Location': ['Kanpur', 'Delhi', 'Gurugram'],
 'Year': [2009, 2014, 2017]}

In [174]:
my_dict.update({"Year":1997})

In [175]:
my_dict

{'Name': ['Aniket', 'Mansi', 'Ankit'],
 'Location': ['Kanpur', 'Delhi', 'Gurugram'],
 'Year': 1997}

## BRANCHING(IF/ELIF/ELSE)

In [184]:
i = 16

if i <= 10:
    print("Less than 10")

elif i > 10 and i <= 15:
    print("NUmber is between 10 to 15")

else:
    print("NUmber is different")

NUmber is different

In [187]:
i =16
print ("Less than 10") if i<=10 else print("NUmber is between 10 to 15") if i>10 and i <= 15 else print("NUmber is different")

NUmber is different

In [196]:
marks = int(input("Enter your marks - "))

if marks > 60:
    if marks >= 75:
        print("Distinction")
    else:
        print("First Class")
        
elif marks > 50 and marks <= 60:
    print("Second Class")
    
elif marks >= 33:
    print("Pass")
    
else:
    print("Fail")

Enter your marks - 61
First Class

# LOOPS

In [198]:
location = ["Shimla", "Delhi", "Kanpur", "Pune", "Mumbai"]

for i in location:
    print(i)

Shimla
Delhi
Kanpur
Pune
Mumbai

In [199]:
salary = [2000,3000,4000,1500,3200,2400,5400]

for i in salary:
    print(i)

2000
3000
4000
1500
3200
2400
5400

In [200]:
for i in salary:
    if i < 2000:
        print(i)

1500

In [201]:
stud_score = [23,45,65,32,46,48,56,65,75,89]

for i in stud_score:
    if i >= 60:
        if i >= 75:
            print("Distinction")
        else:
            print("First Class")
    elif i > 50 and i <= 45:
        print("Second Class")
    elif i >=33:
        print("Pass")
    else:
        print("Fail")

Fail
Pass
First Class
Fail
Pass
Pass
Pass
First Class
Distinction
Distinction

# LIST COMPREHENSION

In [202]:
salary = [2000,3000,4000,5000,6000,7000,8000,9000]

for i in salary:
    if i > 5500:
        print(i)

6000
7000
8000
9000

In [204]:
sal = [i for i in salary if i > 5500]
sal

[6000, 7000, 8000, 9000]

In [1]:
daily_sales = [10000,20000,24000,43000,32000,50000,80000]

#Variable to store the sum

n = 0

for i in daily_sales:
    n = n + i
    print("Income till date - ", n)
    
print("The total income is - ", n)

Income till date -  10000
Income till date -  30000
Income till date -  54000
Income till date -  97000
Income till date -  129000
Income till date -  179000
Income till date -  259000
The total income is -  259000

## FOR LOOP WITH ELSE

In [2]:
numbers = [20,30,10,40,50,21,20,10,40]
for i in numbers:
    print(i)
    
else:
    print("No items left")

20
30
10
40
50
21
20
10
40
No items left

# WHILE LOOP

In [4]:
n = 5

sum = 0

i = 1

while i <= n:
    sum = sum +i
    i = i+ 1    # Update counter
    print(sum)

1
3
6
10
15

# Enumerate

It allows us to iterate through a sequence but it keeps track of both the index and the element.

In [5]:
name = ["Aniket", "Mansi", "Ankit", "Himanshu", "Divyansh"]

for i in enumerate(name):
    print(i)

(0, 'Aniket')
(1, 'Mansi')
(2, 'Ankit')
(3, 'Himanshu')
(4, 'Divyansh')

In [9]:
#Starting index from any number

for i, j in enumerate(name,1):
    print(i,j)

1 Aniket
2 Mansi
3 Ankit
4 Himanshu
5 Divyansh

In [10]:
i

5

In [11]:
j

'Divyansh'

# ZIP

In [12]:
roll_num = [10,20,30,40,50]

details = list(zip(name,roll_num))

In [13]:
details

[('Aniket', 10),
 ('Mansi', 20),
 ('Ankit', 30),
 ('Himanshu', 40),
 ('Divyansh', 50)]

In [14]:
name

['Aniket', 'Mansi', 'Ankit', 'Himanshu', 'Divyansh']

In [15]:
roll_num

[10, 20, 30, 40, 50]

# UNZIP

In [16]:
name, roll_num = zip(*details)

In [17]:
name

('Aniket', 'Mansi', 'Ankit', 'Himanshu', 'Divyansh')

In [18]:
roll_num

(10, 20, 30, 40, 50)

# ENUMERATE AND ZIP

In [19]:
for i,(j,k) in enumerate(zip(name,roll_num),1):
    print(i,j,k)

1 Aniket 10
2 Mansi 20
3 Ankit 30
4 Himanshu 40
5 Divyansh 50

# BREAK and CONTINUE

In [1]:
city = ["Kanpur","Lucknow","Noida","Shimla","Prayagraj","Banaras","Aligarh"]

for i in city:
    if i == "Noida":
        break
    print(i)

Kanpur
Lucknow

In [44]:
sal = [2000,3000,4000,5000,2000,6000,8000,4500]

for i in sal:
    if i>5200:
        break
    print(i)

2000
3000
4000
5000
2000

In [2]:
city = ["Kanpur","Lucknow","Noida","Shimla","Prayagraj","Banaras","Aligarh"]

for i in city:
    if i == "Noida":
        continue
    print(i)

Kanpur
Lucknow
Shimla
Prayagraj
Banaras
Aligarh

In [48]:
sal = [2000,3000,4000,5000,2000,6000,8000,4500]

for i in sal:
    if i>5200:
        continue
    print(i)

2000
3000
4000
5000
2000
4500

# RANGE

In [50]:
print(range(10))

range(0, 10)

In [51]:
range(10)

range(0, 10)

In [52]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
# Step-size
step = list(range(0,31,5))

In [54]:
step

[0, 5, 10, 15, 20, 25, 30]

In [56]:
# Reverse

rev = list(range(1600,100,-100))
rev

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200]

## STRING INDEXING

In [57]:
quote = "I'll do it in any situation."

In [58]:
quote

"I'll do it in any situation."

In [59]:
print(quote)

I'll do it in any situation.

In [60]:
# First element
quote[0]

'I'

In [61]:
quote[0:4]

"I'll"

In [63]:
# Negative Indexing

quote[-1]

'.'

In [64]:
quote[-2]

'n'

In [65]:
quote[::-1]

".noitautis yna ni ti od ll'I"

In [66]:
quote[:10:-2]

'.otui n i'

In [67]:
quote

"I'll do it in any situation."

In [68]:
quote[::2]

'Il oi naystain'

# FUNCTIONS

In [69]:
def say_hello():
    print("Hi! Mr.")

In [70]:
say_hello()

Hi! Mr.

In [71]:
def greeting(name):
    print("Hi! Mr.",name)

In [73]:
greeting("Aniket")

Hi! Mr. Aniket

### Using return

In [15]:
def sal_inc(salary):
    if salary <= 8000:
        salary += 5000
        return("New salary - ", salary)
    else:
         print("No changes in the salary- ", salary)

In [16]:
sal_inc(5000)

('New salary - ', 10000)

In [17]:
sal_inc(10000)

No changes in the salary-  10000

In [18]:
sal_inc(4000)

('New salary - ', 9000)

In [19]:
sal_inc(15000)

No changes in the salary-  15000

## With Multiple Argument

In [20]:
def stud_marks(m,s):
    return m+s

In [21]:
print("Your total marks are ",stud_marks(65,74))

Your total marks are  139

In [27]:
mansi_marks = stud_marks(22,22)

In [28]:
mansi_marks

44

In [29]:
if mansi_marks < 66:
    print("You are Failed!")
else: 
    print("You are Pass!")

You are Failed!

In [30]:
def stud_marks(m,s,c):
    return m+s+c

In [38]:
ani_marks = stud_marks(20,20,40)

In [39]:
ani_marks

80

In [40]:
if ani_marks >= 250:
    print("You got the distiction.")
elif ani_marks >= 150 and ani_marks < 250:
    print("You got the First Division.")
elif ani_marks >= 100 and ani_marks < 150:
    print("You got the Second Division")
elif ani_marks >= 80:
    print("You just passed.")
else:
    print("You failed!")

You just passed.

In [42]:
stud_marks("ankit","kumar","shukla")

'ankitkumarshukla'

In [43]:
stud_marks(50,"Aniket","Shukla")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
stud_marks(str(40),"Aniket","Shukla")

'40AniketShukla'

Program to check whether the number is even or not

In [57]:
def even_num(num):
    if num == 0:
        print("0 is exceptional.")
    elif num % 2 == 0:
        print("Number is even - " ,num, "\nSquare of ",num,"is",num**2)
        
    else:
        print("Number is odd.")

In [59]:
even_num(56)

Number is even -  56
Square of  56 is 3136

In [60]:
even_num(0)

0 is exceptional.

In [61]:
even_num(7)

Number is odd.

In [81]:
def even_check(num):
    for i in range(2,num):
        
        if i % 2 == 0:
            print("Number is even - " ,i, "\nSquare of ",i,"is",i**2)
        
        else:
            print("Number is odd - ",i)

In [82]:
even_check(6)

Number is even -  2
Square of  2 is 4
Number is odd -  3
Number is even -  4
Square of  4 is 16
Number is odd -  5

In [83]:
even_check(0)

In [84]:
even_check(4)

Number is even -  2
Square of  2 is 4
Number is odd -  3

In [85]:
5/2

2.5

In [86]:
5//2

2

In [87]:
5%2

1

In [88]:
4%2

0

## LAMBDA FUNCTION

In [89]:
lambda argument : expression

In [91]:
add_num = lambda x : x+2

In [92]:
add_num()

TypeError: <lambda>() missing 1 required positional argument: 'x'

In [93]:
add_num(5)

7

In [94]:
mult = lambda x,y : x*y

In [95]:
mult(4,2)

8

## * ARG

*arg takes multiple inputs.

In [97]:
def mul_inp(*args):
    for i in args:
        print("mul_inp - ", i)

In [98]:
mul_inp("Riya","Rampy",500,45.12)

mul_inp -  Riya
mul_inp -  Rampy
mul_inp -  500
mul_inp -  45.12

## ** KWARG

**kwarg takes key and value, just like dictionary

In [109]:
def my_dict(**kwargs):
    for i,j in kwargs.items():
        print("My Dict- ", i,j)

In [111]:
my_dict(Name=["Aniket","Mansi","Himanshu","Ankit"], Marks = [78,52,10,98])

My Dict-  Name ['Aniket', 'Mansi', 'Himanshu', 'Ankit']
My Dict-  Marks [78, 52, 10, 98]

# MAP

Map is a function that takes in two arguments(function,sequence)

In [1]:
def total_marks(marks):
    if marks == 30:
        return (marks+5)
    elif marks == 31:
        return (marks+4)
    elif marks == 32:
        return (marks+3)
    elif marks == 33:
        return (marks+2)
    elif marks == 34:
        return (marks+1)
    else:
        pass

In [2]:
score = [40,32,54,30,54,32,31,54,33,87,34,35,35]

In [4]:
total = list(map(total_marks,score))

In [5]:
total

[None, 35, None, 35, None, 35, 35, None, 35, None, 35, None, None]

In [6]:
def total_marks(marks):
    if marks == 30:
        return (marks+5)
    elif marks == 31:
        return (marks+4)
    elif marks == 32:
        return (marks+3)
    elif marks == 33:
        return (marks+2)
    elif marks == 34:
        return (marks+1)
    else:
        return marks

In [7]:
total_new = list(map(total_marks,score))
total_new

[40, 35, 54, 35, 54, 35, 35, 54, 35, 87, 35, 35, 35]

# FILTER

Filter is used to filter out iterable, it gives result in Boolean(True,False)

In [14]:
def even_check(num):
    if num%2 == 0:
        if num == 0:
            print("Zero is exceptional")
        return True

In [15]:
seq = [10,20,3,32,21,43,45,65,76,87,98,0,21]

In [16]:
fil = list(filter(even_check, seq))
fil

Zero is exceptional

[10, 20, 32, 76, 98, 0]

In [17]:
list(filter(lambda x: x%2==0,seq))

[10, 20, 32, 76, 98, 0]

In [19]:
score = [10,35,32,45,67,21,32,43,22,33,44,55]

In [22]:
failed = list(filter(lambda marks: marks < 35,score))
failed

[10, 32, 21, 32, 22, 33]

In [23]:
def fail(marks):
    if marks < 35:
        return True

In [24]:
marks = [10,35,32,45,67,21,32,43,22,33,44,55]

In [25]:
failed_stud = list(filter(fail,marks))

failed_stud

[10, 32, 21, 32, 22, 33]

# Global and Local Variable

Global - Variable defined outside the function

In [27]:
extra_marks = 10

def total_score_global():
    print("Printing inside the function and total is ",35+extra_marks)

total_score_global()

Printing inside the function and total is  45

In [28]:
print("Printing outside the function and total is ", 35+extra_marks)

Printing outside the function and total is  45

Local Variable - Variable defined inside the function. This can only be used inside the function.

In [29]:
def total_score_local():
    some_marks = 10
    print("Printing inside the function and total is ",50+some_marks)
    
total_score_local()

Printing inside the function and total is  60

In [30]:
print("Printing outisde the function and total is ",50+some_marks)

NameError: name 'some_marks' is not defined

Using Local variable outside the function

In [32]:
def total_score_local():
    global some_marks
    some_marks = 10
    print("Printing inside the function and total is ",50+some_marks)
    
total_score_local()

Printing inside the function and total is  60

In [33]:
print("Printing outisde the function and total is ",50+some_marks)

Printing outisde the function and total is  60

In [35]:
def local_global():
    global var1
    var1 = "This is unique!"
    print(var1)
    
local_global()

This is unique!

In [36]:
print("Trying using outside the function - ",var1)

Trying using outside the function -  This is unique!

# Modules and Packages

In [37]:
import math

In [38]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [39]:
math.sqrt(100)

10.0

In [41]:
math.pow(4,2)

16.0

In [42]:
math.log10(54)

1.7323937598229686

In [43]:
math.sin(54)

-0.5587890488516163

In [44]:
sqrt(100)

NameError: name 'sqrt' is not defined

In [45]:
from math import sqrt

In [46]:
sqrt(100)

10.0

In [47]:
from math import log10

In [48]:
log10(30)

1.4771212547196624

In [49]:
import numpy

In [51]:
print(dir(numpy))

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'Bytes0', 'CLIP', 'ComplexWarning', 'DataSource', 'Datetime64', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Str0', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'Uint64', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__deprecated_attrs__', '__dir__', '__doc__', '__expired_functions__', '__file__', '__getattr__', '__git_revision__', '__loader__', '__mkl_version__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_distributor_init', '_financial_names', '_globals', '_mat', '_pytesttester', 'abs', 'absolute', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_shapes', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mkl', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'numarray', 'number', 'obj2sctype', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'os', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'use_hugepage', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

In [52]:
len(dir(numpy))

608

## Taking input from the user

In [55]:
name = input("Please enter your name: ")
print("User entered: ", name)

Please enter your name: Aniket
User entered:  Aniket

In [58]:
# Program to read only integer

num = int(input("Enter your mobile number: "))

print("User entered: ", num)

Enter your mobile number: 4784646954
User entered:  4784646954

In [60]:
name = input("Please enter the name: ")

print("Hello! Mr.",name,". Welcome to the ALL and ALL app")

year = int(input("Please enter your year of birth: "))

print("Mr. ",name, ". Thanks for entering the year of birth. Your year of birth is ", year)

Please enter the name: Aniket
Hello! Mr. Aniket . Welcome to the ALL and ALL app
Please enter your year of birth: 1997
Mr.  Aniket . Thanks for entering the year of birth. Your year of birth is  1997

In [62]:
maths = int(input("Please enter your Maths marks - "))
science = int(input("Please enter your Science marks - "))

total = maths+science

print("Your total marks are ",total)

Please enter your Maths marks - 88
Please enter your Science marks - 75
Your total marks are  163

In [72]:
def n():
    
    name = input("Please enter your name: ")

    if name.isalpha():
        print("You Entered: ",name)
    
    else:
        print("Enter your name in alphabets only.")
        n()
n()

Please enter your name: 4545
Enter your name in alphabets only.
Please enter your name: 444
Enter your name in alphabets only.
Please enter your name: kadhkaj
You Entered:  kadhkaj

# Errors and Exception Handling

In [73]:
marks_1 = 88

subject = "Data Science"

marks_2 = 45

In [76]:
try:
    total = marks_1 + subject
    
except:
    print("You're adding to string. Make sure both are integers")

else:
    print("Total marks = ",total)

You're adding to string. Make sure both are integers

In [77]:
try:
    total = marks_1 + marks_2
    
except:
    print("You're adding to string. Make sure both are integers")

else:
    print("Total marks = ",total)

Total marks =  133

In [90]:
try:
    car_number = input("Your Car Number: ")
    name = input("Name: ")
    mobile = input("Mobile Number: ")
    
    if car_number == " ":
        raise Exception()
    elif name == " ":
        raise Exception()
    elif mobile == " ":
        raise Exception()
    else:
        pass
    
except:
    if car_number == " ":
        print("\nThe registration number is required. \n")
    if name == " ":
        print("The name is required. \n")
    if mobile == " ":
        print("The mobile number is required.")

else:
    print("Thanks for all the details.")

Your Car Number:
Name:
Mobile Number:

The registration number is required.

The name is required.

The mobile number is required.

Finally - This will be executed in any case

In [97]:
def mob_num():
    mob = input("Enter the mobile number: ")
    
    if mob.isnumeric():
        if len(mob) == 10:
            print("Your entered mobile number is: ",mob)
        else:
            print("Kindly enter 10 digits.")
            mob_num()
    else:
        print("Mobile number does not contain alphabets or alphanumeric. Kindly enter it again: ")
        
        mob_num()

mob_num()

Enter the mobile number: dfgfdhg
Mobile number does not contain alphabets or alphanumeric. Kindly enter it again:
Enter the mobile number: gfdsgegr5
Mobile number does not contain alphabets or alphanumeric. Kindly enter it again:
Enter the mobile number: 784
Kindly enter 10 digits.
Enter the mobile number: 79879798
Kindly enter 10 digits.
Enter the mobile number: 848947984989898897
Kindly enter 10 digits.
Enter the mobile number: 7843901664
Your entered mobile number is:  7843901664

In [99]:
def mob_number():
    
    while True:
        try:
            val = int(input("Enter the mobile number: "))
            
        except:
            print("Looks like you did not enter the mobile number.")
            continue
            
        else:
            if len(str(val)) != 10:
                print("Mobile number must have 10 digits.")
                continue
                
                
            print("Thank you for entering the mobile number.")
            break
                
mob_number()

Enter the mobile number: hcgchyhgc
Looks like you did not enter the mobile number.
Enter the mobile number: gfvff
Looks like you did not enter the mobile number.
Enter the mobile number: dfgjsdg3432432
Looks like you did not enter the mobile number.
Enter the mobile number: 4754654
Mobile number must have 10 digits.
Enter the mobile number: 79+797+987987987987987
Looks like you did not enter the mobile number.
Enter the mobile number: 7843901664
Thank you for entering the mobile number.

# Object Oriented Programming

- Class
- Instances
- Methods
- Objects

### Creating Class

class name should always start with uppercase. For ex -
class Person

In [100]:
class Person:
    pass

 __init__ is a special method for initialization

In [101]:
class Person():
    def __init__(self,name,surname,year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

Method - Functions described under the class is known as Method

In [3]:
from datetime import datetime

In [17]:
class Employee():
    def __init__(self,name,date_of_joining,salary,phone_number,gender,email,location,date_of_birth):
        self.name = name
        self.date_of_joining = datetime.strptime(date_of_joining, "%b %d %Y")
        self.salary = salary
        self.phone_number = phone_number
        self.gender = gender
        self.email = email
        self.location = location
        self.date_of_birth = datetime.strptime(date_of_birth, "%b %d %Y")
        
        
    def emp_personal_info(self):
        print("Name: " , self.name , "\nDate Of Birth: ", self.date_of_birth , "\nPhone Number: " , self.phone_number , "\nGender: " 
             , self.gender)
        
    def salary_hike(self):
        if self.salary < 8000:
            print("Your New Salary : " , (self.salary + (self.salary*0.3)))
            
        elif self.salary > 8000:
            print("Your New Salary : " , (self.salary + (self.salary*0.15)))

In [18]:
emp = Employee("Aniket","Jul 09 2020", 7500, 7843901664,"M","aniketshukla2018@gmail.com","Kanpur","Mar 28 1997")

In [19]:
emp.emp_personal_info()

Name:  Aniket
Date Of Birth:  1997-03-28 00:00:00
Phone Number:  7843901664
Gender:  M

In [20]:
emp.salary_hike()

Your New Salary :  9750.0

## INHERITANCE

In [21]:
class Employee_ID(Employee):
    
    def __init__(self,emp_id, *args):
        super(Employee_ID,self).__init__(*args)
        self.emp_id = emp_id
        
    def emp_detail(self):
        print("Employee ID is: ",self.emp_id,"\nEmployee name is ",self.name)

In [22]:
emp_det = Employee_ID(16147935,"Aniket","Jul 09 2020", 7500, 7843901664,"M","aniketshukla2018@gmail.com","Kanpur","Mar 28 1997")

In [28]:
emp_det.emp_detail()

Employee ID is:  16147935
Employee name is  Aniket

# ENCAPSULATION

In [5]:
class Tyres():
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch = branch
        self.belted_bias = belted_bias
        self.opt_pressure = opt_pressure
        
    def __str__(self):
        return("Tyres: \n\tBranch: "+ self.branch +"\n\tBelted Bias: " + self.belted_bias + "\n\tOptimum Pressure: " + self.opt_pressure)
        
class Engine():
    def __init__(self,fuel_type,noise_level):
        self.fuel_type = fuel_type
        self.noise_level = noise_level
        
    def __str__(self):
        return("Engine: \n\tFuel Type: " + self.fuel_type + "\n\tNoise Level: " + self.noise_level)
        
class Body():
    def __init__(self,size,body_type):
        self.size = size
        self.body_type = body_type
        
    def __str__(self):
        return("Body: \n\tSize: " + self.size + "\n\tBody Type: " + self.body_type)
        
class Car():
    def __init__(self,tyres,engine,body):
        self.tyres = tyres
        self.engine = engine
        self.body = body
        
    def __str__(self):
        return (str(self.tyres) +  str(self.engine) + str(self.body))

In [6]:
t = Tyres("MRF",False,34)
e = Engine("Petrol",2.5)
b = Body("SUV","Plastic")

c = Car(t,e,b)


print(c)

TypeError: can only concatenate str (not "bool") to str